.header {
    font-family: "Poppins";
    font-size: 900;
    margin-top: 80px;
    margin-left: 100px;
}
.sub_content {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: larger;
    margin-left: 140px;
}
.text {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    text-align: center;
    margin-top: 150px;
}
